*{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color:transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	border:none;
	outline: none;
	-webkit-appearance:none;
}
ul,ol{
	list-style: none;
}
.all{
	background-color: rgb(51,51,51);
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}
.header,.header>.headerone,.header>.headerone>.wrappers{
	width: 100%;
}
.header>.headerone{
	overflow: hidden;
}
.headers{
	text-align: center;
}
.headers>p{
	width: 100%;
}
img{
	width: 100%;
}
.diden{
	width: 40%;
	left: 30%;
	margin-top: -70%;
	position: absolute;
	z-index: 100;
}
.num{
	font-size: 100px;
	color: black /*!important*/;
}
.headers>.num:first-child{
	color:white; 
}

.center{
	margin-top: 10px;
}
.center>div{
	width: 100%;
	height: 900px;
	background-color: white;
	margin-bottom: 10px;
}
.titleimage_box>.titleimage{
	width: 100%;
	height: 550px;
	background-size: 100% 100%;
	box-shadow: 0px -20px 20px 0px rgba(255,255,255,0.6) inset;
	background-repeat: no-repeat;
}
.min_img{
	margin:auto;
	width: 40%;
}
.min_img{
	margin:auto;
	width: 40%;
}
/*.phrase{
	width: 19%;
	margin-left: 20px;
	background-color:rgb(51,51,51);
	color: rgb(250,207,20);
	padding: 5px;
}*/
.rateNames,.rateValue{
	width: 19%;
	margin-left: 20px;
}
.rateValue{
	font-size: 30px;
	line-height: bold;
}
.fix_price{
	color: #BEBEBE;
	font-size: 12px;
	text-decoration: line-through;
}
.label{
	color: white;
	background-color: red;
}
.chinese_title{
	font-size: 30px;
	margin-top: -23px;
}
.price{
	color: red;
}
.main_description{
	color: #7B7B7B;
}
.occasion{
	color: #7B7B7B;
}
.names{
	background-color: black;
	padding: 5px;
	color: white;
}
.words{
	color:white;
}
.minimages_box{
	width: 100%;
	height: 150px;
}
.minimages_box2{
	width: 180%;
	height: 150px;
	overflow: hidden;


}
.minimages_box2>.minimages_div{
	float: left;
	width: 18%;
}
.minimages_box2>.minimages_div>img{
	width: 100%;
}