* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box
}

body {
	font-size: 14px;
	font-family: "微软雅黑"
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: none
}

input {
	border: 0;
	outline: 0;
	-webkit-appearance: none
}

ul,ol {
	list-style: none
}
.skey_header{
	background-color: black;
}