<div class="aside_box">
	<a href="#!home" class="aside_frist"   ng-click="homeImg()"><img src="images/logo@2x.png" alt=""></a>
	<a href="#!home"   ng-click="home()">HOME</a>
	<a href="#!piece"   ng-click="one()">一套</a>
	<a href="#!cover"   ng-click="two()">一件</a>
	<a href="#!article"  ng-show="!isShow" ng-click="three()">一篇</a>
	<a href="" class="aside_center"></a>
	<a href="#!myself" class="aside_p"   ng-click="collect()">收藏</a>
	<a href="#!myself" class="aside_p"   ng-click="togeImg()">我的</a>
	<a href="#!article"  class="aside_last" ng-show="!isShow" ng-click="showImg()"><img src="images/product_back@2x.png" alt=""></a>
</div>