<div class="coverBox">
	<!-- 商品菜单 -->
	<div class ="coverMenu">
		<h3>
			<span>一件</span> 
			<img src="images/down_arrow@2x.png" alt="">
		</h3>
		<div class ="outBox">
			<div class ="menuList ">
				<div ng-repeat = "obj in coverList" ng-click="changeFace($index)">
					<span>{{obj.name}}</span>
				</div>
			</div>
		</div>
	</div>
	<!-- BEST商品列表 -->
	<div class="swiper-container currentList">
		<div class="swiper-wrapper">
			<div class="swiper-slide" id = "oneFace">
			<!-- 重复创建的商品 -->
				<div class = "oneBox" ng-repeat="product in productList" >
					<div class = "oneImg" style="background-image:url('{{product.head_image}}');">
						<div>{{product.chinese_title}}</div>
					 </div>
					<div class ="oneDirection">{{product.main_description}}</div>
					<div class = "smallDatial">
						<div class ="Sleft">
							<div>
								<span>{{product.occasion}}</span> 
								<img src="images/{{imgObj.value}}@2x.png" ng-repeat="imgObj in product.label">
							</div>
							<div class = "priceAndImg">
								<div>
									<h4>{{product.english_title}}</h4>
									<div>{{product.chinese_title}}</div>
									<span class="through">{{product.fix_price}}</span>
									<span>{{product.price}}</span>
								</div>
								<img src="{{product.cover_image}}" alt="" >
							</div>
						</div>
						<div class ="Sright">
							<img src="images/正常@2x.png"  ng-click="like($index)" class ="isLove">
							<span>{{product.collect_count}}</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 上衣商品列表 -->
			<div class="swiper-slide">
				<div class ="coverTwoBox">
					<div class = "twoBox" ng-repeat="jacket in jacketList">
						<div class ="Sleft" style="background-image:url({{jacket.cover_image}})">
							<div class = "priceAndInfo">
								<div>
									<span>{{jacket.occasion}}</span> 
									<img src="images/{{imgObj.value}}@2x.png" ng-repeat="imgObj in jacket.label">
								</div>
								<h4>{{jacket.english_title}}</h4>
								<div class = "cuTitle">{{jacket.chinese_title}}</div>
								<span class="through">{{jacket.fix_price}}</span>
								<span>{{jacket.price}}</span>
							</div>
						</div>
						<div class ="Sright">
							<div><img src="images/正常@2x.png"  ng-click="likeTwo($index)" class ="isLove"></div>
							<span>{{jacket.collect_count}}</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 下装商品列表 -->
			<div class="swiper-slide">
				<div class ="coverTwoBox coverThreeBox">
					<div class = "twoBox" ng-repeat="pants in pantsList">
						<div class ="Sleft" style="background-image:url({{pants.cover_image}})">
							<div class = "priceAndInfo">
								<div>
									<span>{{pants.occasion}}</span> 
									<img src="images/{{imgObj.value}}@2x.png" ng-repeat="imgObj in pants.label">
								</div>
								<h4>{{pants.english_title}}</h4>
								<div class = "cuTitle">{{pants.chinese_title}}</div>
								<span class="through">{{pants.fix_price}}</span>
								<span>{{pants.price}}</span>
							</div>
						</div>
						<div class ="Sright">
							<div><img src="images/正常@2x.png"  ng-click="likeThree($index)" class ="isThree"></div>
							<span>{{pants.collect_count}}</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 鞋履商品列表 -->
			<div class="swiper-slide">
				<div class ="coverTwoBox coverFourBox">
					<div class = "twoBox" ng-repeat="shops in shopsList">
						<div class ="Sleft" style="background-image:url({{shops.cover_image}})">
							<div class = "priceAndInfo">
								<div>
									<span>{{shops.occasion}}</span>
									<img src="images/{{imgObj.value}}@2x.png" ng-repeat="imgObj in shops.label">
								</div>
								<h4>{{shops.english_title}}</h4>
								<div class = "cuTitle">{{shops.chinese_title}}</div>
								<span class="through">{{shops.fix_price}}</span>
								<span>{{shops.price}}</span>
							</div>
						</div>
						<div class ="Sright">
							<div><img src="images/正常@2x.png"  ng-click="likeFour($index)" class ="isFour"></div>
							<span>{{shops.collect_count}}</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 配饰商品列表 -->
			<div class="swiper-slide">
				<div class ="coverTwoBox coverFiveBox">
					<div class = "twoBox" ng-repeat="little in littleList">
						<div class ="Sleft" style="background-image:url({{little.cover_image}})">
							<div class = "priceAndInfo">
								<div>
									<span>{{little.occasion}}</span>
									<img src="images/{{imgObj.value}}@2x.png" ng-repeat="imgObj in little.label">
								</div>
								<h4>{{little.english_title}}</h4>
								<div class = "cuTitle">{{little.chinese_title}}</div>
								<span class="through">{{little.fix_price}}</span>
								<span>{{little.price}}</span>
							</div>
						</div>
						<div class ="Sright">
							<div><img src="images/正常@2x.png"  ng-click="likeFive($index)" class ="isFive"></div>
							<span>{{little.collect_count}}</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 玩儿商品列表 -->
			<div class="swiper-slide">
				<div class ="coverTwoBox coverSixBox">
					<div class = "twoBox" ng-repeat="playList in playList">
						<div class ="Sleft" style="background-image:url({{playList.cover_image}})">
							<div class = "priceAndInfo">
								<div>
									<span>{{playList.occasion}}</span> 
									<img src="images/{{imgObj.value}}@2x.png" ng-repeat="imgObj in playList.label">
								</div>
								<h4>{{playList.english_title}}</h4>
								<div class = "cuTitle">{{playList.chinese_title}}</div>
								<span class="through">{{playList.fix_price}}</span>
								<span>{{playList.price}}</span>
							</div>
						</div>
						<div class ="Sright">
							<div><img src="images/正常@2x.png"  ng-click="likeSix($index)" class ="isEnd"></div>
							<span>{{playList.collect_count}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>