<div class="all">
<!-- 头部轮播图 -->
	<div class="header">
		 <div class="swiper-container headerone">
		 	<div class="swiper-wrapper wrappers">
				<div class="swiper-slide slides" ng-repeat="imgs in upskyList">
					<img src="{{imgs.image}}" alt="">
				</div>		
		 	</div>
		 	
<!-- 主要内容 -->
	<div class="center">
		<div ng-repeat="texts in centerskyList" >
			<div class="titleimage_box">
				<div class="titleimage" style="background-image: url('{{texts.head_image}}');" >	
					<div class="phrase">{{texts.phrase}}</div>
					<div class="rateNames">{{texts.rate_name}}</div>
					<div class="rateValue">{{texts.rate_value}}</div>			
				</div>	
				<div class="center_text">
						<div class="chinese_title">{{texts.chinese_title}}</div>
						<div class="main_description">{{texts.main_description}}</div>
						<p class="occasion">{{texts.occasion}}<span class="label">{{texts.label[0].value}}</span></p>
						<div class="english_title">{{texts.english_title}}</div>
						<div>{{texts.chinese_title}}</div>
						<div class= "minimages_box swiper-container">
							<div class="minimages_box2">
								<div ng-repeat="minimages in texts.product_list" class="minimages_div swiper-wrapper">
									<div class="swiper-slide"><img src="{{minimages.pic}}" alt="" ></div>
								</div>
							</div>
						</div>
						<p class="fix_price">{{texts.fix_price}}</p>
						<p class="price">{{texts.price}}</p>
						<div class="min_img" ng-if="texts.isShow"><img src="{{texts.cover_image}}" alt=""></div>
					</div>
			</div>
				
		</div>	
	</div>
</div>  